section.delivery-desc
    .container
        .row.py-5
            .col
                h3.m-0.mb-3
                    i.fas.fa-dollar-sign.mr-4.ml-2
                    span.h1 Способи оплати:
                ul.delivery-desc__list.list-unstyled.ml-5.mb-5
                    li.delivery-desc__item.delivery-desc__item--cod.h5 Наложеним платежем
                    li.delivery-desc__item.delivery-desc__item--card.h5 Банківською карткою
                    li.delivery-desc__item.delivery-desc__item--cash.h5 Готівкою

                h3.m-0.mb-3
                    i.fas.fa-shipping-fast.mr-3
                    span.h1 Доставка:
                ul.delivery-desc__list.list-unstyled.ml-5.mb-0
                    li.delivery-desc__item.delivery-desc__item--new-post.h5 Нова почта
                    li.delivery-desc__item.delivery-desc__item--ukr-post.h5 Укр. почта
                    li.delivery-desc__item.delivery-desc__item--courier.h5 Кур'єром