section.about-desc
    .container.about-desc__container
        .row
            .col-md-6
                h3.py-5.m-0
                    i.fa.fa-file-alt.mx-3
                    span.h1 Про нас
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at cumque debitis doloremque dolorum laboriosam laborum, maxime molestiae molestias nostrum optio porro sit sunt. Accusantium ad assumenda deserunt, excepturi fugiat hic illum molestiae, molestias, nulla obcaecati optio pariatur quaerat ratione sint sunt tenetur voluptatum! Adipisci earum inventore minima quas repellendus?
            .col-md-6.mt-3.align-self-center
                img.img-fluid.rounded-circle(src='assets/img/about-desc.jpg', alt='Фото нашого магазину')