$grey: #545454;
@import "lib/swiper";
@import "lib/bootstrap";
@import "common/header";
@import "common/submenu";
@import "common/catalog-slider";
@import "common/slider";
@import "common/header-catalog";
@import "common/products-overview";
@import "common/product-details";
@import "common/about-us";
@import "common/footer";
@import "common/shopping-cart";
@import "common/purchase-order";

@import "common/socials";

body {
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

main {
  background-color: #f0f0f0;
}

.btn-orange {
  background-color: #ff9801;
  border-color: #ff9801;
  color: #fff;

  &:hover {
    background-color: darken(#ff9801, 10%);
    border-color: darken(#ff9801, 15%);
  }
}

.collapse.navbar-collapse {
  align-items: center;
  padding: 15px 10px;
}

.sub-nav {
  display: flex;
  align-items: center;
}
