section.about-us
    .container.about-us__container
        .row.py-5
            .col-md-5.about-us__left.mb-5.mb-md-0
                div.pl-2.pr-2
                    h3.py-3
                        i.fa.fa-file-alt.mr-3
                        span Про нас
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae!
                hr
                div.pl-2.pr-2.pb-2
                    h3.py-2
                        i.fas.fa-map-marker-alt.mr-3
                        span Як нас знайти?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae!
            .col-md-6.offset-md-1.about-us__right.d-flex
                iframe(frameborder="0", src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175429.7163420607!2d-118.24300182793624!3d33.7635765341403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1537011282991', allowfullscreen='')
