section
    .container
        .row.align-items-stretch
            .col-md-3.pr-0
                each val in [1, 2, 3, 4, 5,7,8]
                    .dropdown.dropright
                        button.pb-3.pt-3.catalog__toggle.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Dropleft
                        .dropdown-menu.p-0.border-0
                            ul.list-unstyled.mb-0
                                li
                                    a.catalog__link.btn(href="#") aa
                                li
                                    a.catalog__link.btn(href="#") aa
                                li
                                    a.catalog__link.btn(href="#") aa
            .col-md-9.pl-0
                #carousel-catalogIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carousel-catalogIndicators', data-slide-to='0')
                        li(data-target='#carousel-catalogIndicators', data-slide-to='1')
                        li(data-target='#carousel-catalogIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='https://via.placeholder.com/800x300?auto=yes&bg=777&fg=555&text=First slide', alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://via.placeholder.com/800x300?auto=yes&bg=777&fg=555&text=Второй slide', alt='First slide')
                        .carousel-item
                            img.d-block.w-100(src='https://via.placeholder.com/800x300?auto=yes&bg=777&fg=555&text=3 slide', alt='First slide')
                    a.carousel-control-prev(href='#carousel-catalogIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carousel-catalogIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
