section.footer
    .container
        .row.d-flex.align-items-center.justify-content-between.py-4
            .col-4.offset-4.col-sm-4.offset-md-0.pb-2
                ul.socials.d-flex.list-unstyled
                    li.socials__item
                        a.socials__link(href='#')
                            span.d-none Facebook
                            i.fab.fa-facebook-f
                    li.socials__item
                        a.socials__link(href='#')
                            span.d-none Twitter
                            i.fab.fa-twitter
                    li.socials__item
                        a.socials__link(href='#')
                            span.d-none Google plus
                            i.fab.fa-google
                    li.socials__item
                        a.socials__link(href='#')
                            span.d-none Instagram
                            i.fab.fa-instagram
            .col-12.col-md-8.col-lg-6.col-xl-5.d-flex.justify-content-center
                div.footer__copyright
                    |Всі права захищені | 2018 | Зроблено з любовю
                    i.heart