div.submenu
    .container
        .row
            .col-md-8
                form
                    .form-row
                        input.col-md-11.form-control(type="email", name="search", placeholder="Поиск по каталогу")
                        button.col-md-1.btn.btn-primary(type="submit")
            .col-md-2
                a(href="#") Укр
                a(href="#") En
            .col-md-2
                a(href="#")
                    span 12
                    | Корзина