section.submenu.p-3.shadow
    .container
        .row.align-items-center
            .col-md-8
                form
                    .form-row
                        input.col-md-11.form-control(type="email", name="search", placeholder="Поиск по каталогу")
                        button.col-md-1.btn.btn-orange(type="submit")
                            i.fas.fa-search
            .col-md-2.ml-auto.language
                i.language__icon.fas.fa-language.mr-1
                a.language__text.mr-1(href="#") Укр
                span.mr-1 /
                a.language__text(href="#") En
            .col-md-1
                a(href="#").basket
                    i.basket__icon.fas.fa-shopping-basket
                    span.basket__count 12
