nav.admin-header.navbar.flex-md-nowrap.p-0
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') SECONDHAND
    ul.navbar-nav.px-3.ml-auto
        li.nav-item.text-nowrap.d-flex.align-items-center
            a.nav-link.mr-2(href='#') Admin-name
            a.nav-link.mr-2(href='#') Sign out
            i.fas.fa-user-cog