section.contacts-desc
    .container
        .row.justify-content-between.py-5
            .col-md-6
                h3.m-0.pb-4
                    i.far.fa-address-book.mr-3
                    span.h1 Контакти:
                div.border-left
                    div.mb-4.d-flex
                        i.fas.fa-map-marker-alt.fa-2x.ml-5.mr-3
                        span.h5.pl-2 Адреса: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex.
                    div.mb-2.d-flex
                        span.h4.ml-5 З нами можна зв'язатись так:
                    div.mb-4.d-flex
                        i.fas.fa-phone-square.fa-2x.ml-5.mr-3
                        span.h5.pl-2 +380950000000 Lorem ipsum dolor sit amet.
                    div.mb-4.d-flex
                        i.fas.fa-phone-square.fa-2x.ml-5.mr-3
                        span.h5.pl-2 +380950000000 Lorem ipsum dolor sit amet.
                    div.mb-4.d-flex
                        i.i.fas.fa-envelope.fa-2x.ml-5.mr-3.d-none.d-sm-block
                        span.h5.pl-5.pl-sm-2 secondhand@gmail.com
            .col-md-6.align-self-center
                span.h5.m-0.font-weight-bold
                    | Знайти нас можна тут:
                div.contacts-desc__map.mt-2.d-flex
                    iframe(frameborder="0", src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175429.7163420607!2d-118.24300182793624!3d33.7635765341403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1537011282991', allowfullscreen='')
